
/* Import Inter from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';


/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; 
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Hides the scrollbar */
}

:root {
  --primary-background-color: #fff;
  --secondary-background-color: #f8f8f8;
  --primary-color: #6c9538;
}